/* ok reset styles */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, blockquote, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, address, article, aside, details, embed, figure, figcaption, img, footer, header, hgroup, menu, nav, output, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
	outline: 0;
    font-size: 100%;
    font: inherit;
	font-style:normal;
    vertical-align: baseline;
	background: transparent;
	-webkit-text-size-adjust: 100%;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;	
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block; 
}
hr { display: block; height: 1px; border: 0; border-top: 1px solid #b4b4b4; margin: 1em 0; padding: 0; }
:focus {
	outline: 0;}
table {
	border-collapse: collapse;
	border-spacing: 0;}
td { vertical-align: top; }
/* setup body */
body, p {
    line-height: 1.4;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
a {
	text-decoration: none;
	color: #1883ba;
}
/* starting margins */
p, h1, h2, h3, h4, h5, h6, ol, dl, blockquote, address { margin: 12pt; }


/* setup headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: bold;
}

h1 { font-size: 300%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

blockquote, q { 
	quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after { 
	content: ''; content: none; 
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/****************** Embedded content 
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/** Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }

